
#kimiko-container{

    position: static;
    top: 10%;
    height: 80%;
    left: 0px;
    width: 17%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}